.hidden {
    display: none;
}

input, button {
    width: 31%;
}

.canned_response {
    border: solid 1px black;
    padding: 2px 2px 2px 2px;
}

.canned_response label {
    font-size: small;
}

.canned_response input {
    float: right;
}

.canned_response button {
    margin: 2px 2px 2px 2px;
}

.canned_response div.title {
    font-family: Courier;
    font-size: small;
    font-weight: bold;
}

.canned_response textarea {
    width: 100%;
}
